<div class="card">
    <div class="card-image-wrapper">
       
        <div class="book-status">
            <%= book.status %>
        </div>
        <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
    </div>

    <div class="card-content">
        <div class="card-meta">
            <span class="genre">
                <%= book.genre && book.genre.name ? book.genre.name : 'Nije navedeno' %>
            </span>
        </div>

        <h3>
            <%= book.title %>
        </h3>
        <p class="author">
            <%= book.author %>
        </p>

        <div class="card-footer">
            <div class="price">
                <%= parseFloat(book.price).toFixed(2) %> KM
            </div>
           <a href="/books/details/<%= book.id %>" class="btn-details" <%= !book.id ? 'style="display:none"' : '' %>>Detalji</a>
        </div>
    </div>
</div>