<!DOCTYPE html>
<html lang="ba">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korisnici</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/adminAllUsers.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
    <% include partials/header %>
   <div class="admin-main-wrapper">
    <div class="table-sections-container">
        
        <div class="section-group">
             <% const sellers = users.filter(u => u.role === 'Prodavač'); %>
            <h2 class="table-title"> Prodavači <span class="badge"><%= sellers.length %></span></h2>
            <div class="table-container">
                <table class="simple-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th class="text-center">Akcija</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <% sellers.forEach((user, index) => { %>
                        <tr>
                            <td class="font-bold"><%= index + 1 %></td>
                            <td><%= user.firstName %></td>
                            <td><%= user.lastName %></td>
                            <td class="text-center">
                                <div class="actions">
                                    
                                    <button class="action-link archive">Arhiviraj</button>
                                    <button class="action-link block">Blokiraj</button>
                                    <button class="action-link status">Status</button>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

       <div class="section-group">
        <% const buyers = users.filter(u => u.role === 'Kupac'); %>
            <h2 class="table-title"> Kupci<span class="badge"><%= buyers.length %></span></h2>
            <div class="table-container">
                <table class="simple-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th class="text-center">Akcija</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% buyers.forEach((user, index) => { %>
                        <tr>
                            <td class="font-bold"><%= index + 1 %></td>
                            <td><%= user.firstName %></td>
                            <td><%= user.lastName %></td>
                            <td class="text-center">
                                <div class="actions">
                                    <button class="action-link archive">Arhiviraj</button>
                                    <button class="action-link block">Blokiraj</button>
                                    <button class="action-link status">Status</button>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
    <% include partials/footer %>
</body>
</html>