<!DOCTYPE html>
<html lang="ba">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje Prodaje</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="/stylesheets/chat.css" />

</head>

<body>

    <% include partials/header %>

     
     <div class="chat-main-layout">
            
            <div class="conversations-sidebar">
                <div class="sidebar-header">
                    <h3>Poruke</h3>
                    <span class="chat-badge"><%= conversations.length %> ukupno</span>
                </div>
                <div class="conv-scroll-area">
                    <% conversations.forEach(conv => { %>
                        <a href="/chat/inbox/<%= conv.id %>" class="conversation-box <%= conv.id == conversation.id ? 'active' : '' %>">
                            <div class="img-wrapper">
                                <img src="/images/noProfileImage.png" alt="Profil">
                            </div>
                            <div class="conversation-info">
                                <div class="info-top">
                                    <h4>
                                        <%= user.id == conv.buyerId ? conv.seller.firstName : conv.buyer.firstName %>
                                    </h4>
                                    </div>
                                <p><i class="fa-solid fa-book"></i>  <%= conv.book.title %></p>
                            </div>
                        </a>
                    <% }) %>
                    <% if(conversations.length == 0){ %>
                        <span class="no-messages"">
                            Još uvijek nemate nijednu konverzaciju.
                        </span>
                    <% } %>
                </div>
            </div>




</body>

</html>