<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="/stylesheets/userProfile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  
  </head>
  <body>

    <% include partials/header %>

   <div class="profile-container">
        <div class="profile-header">
            <div class="user-meta">
                <div class="avatar-wrapper">
                    <img src="<%= user.profileImage || '/images/noProfileImage.png' %>" alt="Profile">
                </div>
                <div class="user-basics">
                    <h1><%= user.firstName %> <%= user.lastName %></h1>
                    <p> <i class="fa-solid fa-envelope"></i> <%= user.email %></p>
                </div>
            </div>
            <a href="/user/profile/<%= user.id %>/edit" class="btn-edit"> <i class="fa fa-edit"></i>Uredi</a>
        </div>

        <div class="profile-grid">
            <div class="input-group">
                <label>Status: </label>
                
                <input type="text" value="<%= user.status %>" readonly disabled>
            </div>
            <div class="input-group">
                <label>Uloga:</label>
                <input type="text" value="<%= user.role %>" readonly disabled>
            </div>
            <div class="profile-bio">
                <label>Bio: </label>
                <textarea rows="5"  readonly  disabled placeholder="Unesite podatke o sebi kako bi drugi znali ko ste Vi"><%= user.bio %></textarea>
            </div>
        </div>
        <div class="preferences-section">
    <div class="pref-group">
    <label><i class="fa-solid fa-book-open"></i> Žanrovi koje volim</label>
    <div class="tags-container">
        <% if (user.Genres && user.Genres.length > 0) { %>
            <% user.Genres.forEach(genre => { %>
                <span class="tag genre-tag"><%= genre.name %></span>
            <% }) %>
        <% } else { %>
            <span class="no-data">Nema odabranih žanrova</span>
        <% } %>
    </div>
</div>

<div class="pref-group">
    <label><i class="fa-solid fa-language"></i> Jezici koje čitam</label>
    <div class="tags-container">
        <% if (user.Languages && user.Languages.length > 0) { %>
            <% user.Languages.forEach(lang => { %>
                <span class="tag lang-tag"><%= lang.name %></span>
            <% }) %>
        <% } else { %>
            <span class="no-data">Nema odabranih jezika</span>
        <% } %>
    </div>
</div>
</div>


  <div class="user-books-section">
    <h2 class="section-title">Moji oglasi</h2>
    
    <% if (userBooks && userBooks.length > 0) { %>
        <div class="books-list">
            <% userBooks.forEach(book => { %>
                <div class="book-horizontal-card">
                    <div class="book-main-content">
                        <div class="book-img-mini">
                            <img src="<%= book.imageUrl || '/images/default-book.png' %>" alt="Book cover">
                        </div>
                        <div class="book-details-mini">
                            <h3><%= book.title %></h3>
                            <p class="book-date">
                                <i class="fa fa-calendar-alt"></i> 
                                Objavljeno: <%= new Date(book.createdAt).toLocaleDateString('bs-BA') %>
                            </p>
                            <p class="book-price-mini"><%= parseFloat(book.price).toFixed(2) %> KM</p>
                        </div>
                    </div>
                    
                    <div class="book-actions">
                        <a href="/books/edit/<%= book.id %>" class="btn-action btn-edit-book">
                            <i class="fa fa-edit"></i> Uredi
                        </a>
                        <button onclick="deleteBook('<%= book.id %>')" class="btn-action btn-delete-book">
                            <i class="fa fa-trash"></i> Obriši
                        </button>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p class="no-data">Još niste objavili nijednu knjigu.</p>
    <% } %>
</div>
    </div>
    
  </body>
</html>
